<div class="ui fixed almacolor inverted menu">
  <div class="ui fluid container">
    <div class="item" style="padding-top:0px;padding-bottom:0px;padding-left:5px">
       <img class="ui image alma-logo" src='assets/img/almalogo.png'>
        &nbsp;&nbsp;<b>OUS Board</b>
    </div>
    <div class="ui right dropdown item" suiDropdown>
      <i class="user icon"></i>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item">
          Version 1.0.0alpha1
        </div>
      </div>
    </div>
  </div>
</div>
<!-- invisible spacer -->
<div class="ui main text container">
  <h1 style="margin-bottom: 0.2em;" class="ui header">SPACER</h1> </div>
