<div>

  <div>
    <page-header></page-header>
  </div>
  <sui-tabset>
      <div class="ui top attached tabular menu">
          <a class="item" suiTabHeader="1">ObsUnitSets</a>
          <a class="item" suiTabHeader="2">Messages</a>
          <a class="item" suiTabHeader="3">TODO</a>
      </div>
      <div class="ui bottom attached segment" suiTabContent="1">
          <ous-table></ous-table>
      </div>
      <div class="ui bottom attached segment" suiTabContent="2">
          <message-table></message-table>
        </div>
      <div class="ui bottom attached segment" suiTabContent="3">TODO</div>
  </sui-tabset>
</div>
